In [5]:
# eval=default function.
import random
score=0
while(True):
    a=random.randrange(1,500)
    b=random.randrange(1,500)
    c=["+","-","*",'/']
    d=random.choice(c)
    print("LET's START MATH QUIZ‚úçÔ∏è")
    question=print(f'your question is here {a} {d} {b}')
    e=eval(str(a)+d+str(b))
    var1=float(input("answer here:ü´∏"))
    if (c=='/'):
        if int(var1)==int(e):
            print("rightüòÉ\n")
            score+=1
        else:
            print(f'your answer is incorrectü§î and your score is:{score}')
            break
    else:
        if var1==e:
            print("rightüòÉ\n")
            score+=1
        else:
            print(f'your answer is incorrectü§î and your score is={score}')
            break

LET's START MATH QUIZ‚úçÔ∏è
your question is here 490 + 427

answer here:ü´∏ 917

rightüòÉ

LET's START MATH QUIZ‚úçÔ∏è
your question is here 315 * 220

answer here:ü´∏ 4456

your answer is incorrectü§î and your score is=1

In [1]:
x=lambda a,b:a*b
x(3,4)

12

In [24]:
#Q1)with the help of lambda function just find out the no is even or not
#Q2)with the help of lambda function calculate simple intrest
#lambda=kisi bhi fun ko simple expression mein create kar sakte hai
#syntax of filter
#filter=(function,iterable)
#we used filter function with lambda function to filter element in  an iterable based on certain condition
l1=[1,5,4,6,8,11,3,12]
x=list(filter(lambda num:(num % 2==0),l1))
x

[4, 6, 8, 12]

In [14]:
si=lambda p,r,t:(p*r*t)/100
si(16000,8,2)

2560.0

In [28]:
#map func=it approach every element
l2=[1,3,5,7,9,11,13]
double=list(map(lambda x:x*2,l2))
double

[2, 6, 10, 14, 18, 22, 26]

In [40]:
# Q3)we have a list which contain five element[ravi,priyansh,yuvi,himanshu,abhishek]just filter out
#words with less then five character.
l1=['ravi','priyansh','yuvi','himanshu','abhishek']
x=list(filter(lambda a:(len(a)<5),l1))
x

['ravi', 'yuvi']

In [65]:
i=2
primes=[]
while (i<=50):
    is_prime=True
    j=2
    while j*j<=i:
        if i % j==0:
            is_prime=False
            break
        j+=1
    if is_prime:
        primes.append(i)
    i+=1
print("Prime numbers between 1 and 50 are:", primes)

Prime numbers between 1 and 50 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]